*{

    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
}

body{

    background-color: #fca4a6;
}

.Panel{
    display: flex;
    justify-content: space-around;
    
}

.Header{

    font-size: 24px;
    font-weight: 800;
    
}

.PanelInfo{

    display: flex;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.ph{

    margin-right: 15px;
}

.Content{
    height: 100%;
    width: 100%;
    margin-top: 180px;
    display: flex;
    justify-content: center;
    margin-left: -250px;
}

.ContentText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 75px;
    margin-right: 50px;
}


.ContentHead{

    width: 400px;
    font-size: 38px;
    font-weight: 800;

    
}

.ContentInfo{
    margin-top: 25px;
    width: 200px;
    font-size: 24px;


}

.ContentButton{
    width: 100px;
    height: 35px;
    display: flex;
    margin-top: 25px;
    background-color: #ff64889e;
    border-radius: 5px;
    border: 4px ridge #e33faf4d;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 550;


}

.Pics{

}


.Pic1{
    position: absolute;


}

.Pic2{
    position: absolute;

}

.Pic3{
    position: absolute;

}

.Pic4{
    position: absolute;

}

.Pic5{
    position: absolute;

}

.Pic6{
    position: absolute;
    
}

.Group1{
    transition: 0.5 ease ;
}

.Group1:hover{
    transform: translate(350px,0);

    
}

.Group2{

}